In [47]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [48]:
# Read the excel file into a pandas DataFrame
df = pd.read_excel('Resources/IBM-Watson-HR-dataset.xlsx', sheet_name='Data')

In [49]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [50]:
#look for columns that could potentially be removed
print("Column headings:")
print(df.columns)

Column headings:
Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [51]:
# drop employee count because all the values are 1 so it's not needed
df = df.drop(["EmployeeCount"], axis=1)

In [52]:
#Everyone here works 80hours in two weeks, so let's drop this column too
df["StandardHours"].value_counts()

80    1470
Name: StandardHours, dtype: int64

In [53]:
#all of the standardhours are 80 so drop standardhours
df = df.drop(["StandardHours"], axis=1)

In [54]:
#investigate "Over18" and "OverTime" columns - are they needed?
df["Over18"].value_counts()
#we have 1,470 total rows with the same value so drop this

Y    1470
Name: Over18, dtype: int64

In [55]:
#all of the over18 values are yes, so drop Over18
df = df.drop(["Over18"], axis=1)

In [56]:
df["OverTime"].value_counts()
#keep OverTime because it has mixed values

No     1054
Yes     416
Name: OverTime, dtype: int64

In [57]:
# our group chose to drop employeenumber, dailyrate, monthlyincome, monthlyrate so that we focus on only one salary variable
df = df.drop(["EmployeeNumber", "DailyRate", "MonthlyIncome", "MonthlyRate"], axis=1)

In [58]:
df.describe()

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,9.192517,2.912925,2.721769,65.891156,2.729932,2.063946,2.728571,2.693197,15.209524,3.153741,2.712245,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,8.106864,1.024165,1.093082,20.329428,0.711561,1.106940,1.102846,2.498009,3.659938,0.360824,1.081209,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,1.000000,1.000000,1.000000,30.000000,1.000000,1.000000,1.000000,0.000000,11.000000,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2.000000,2.000000,2.000000,48.000000,2.000000,1.000000,2.000000,1.000000,12.000000,3.000000,2.000000,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,7.000000,3.000000,3.000000,66.000000,3.000000,2.000000,3.000000,2.000000,14.000000,3.000000,3.000000,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,14.000000,4.000000,4.000000,83.750000,3.000000,3.000000,4.000000,4.000000,18.000000,3.000000,4.000000,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,29.000000,5.000000,4.000000,100.000000,4.000000,5.000000,4.000000,9.000000,25.000000,4.000000,4.000000,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [59]:
#how much data do we have?
df.shape
#we have 1,470 rows and 32 columns

(1470, 28)

In [60]:
#Identify target column and explore its unique values
df["Attrition"].value_counts()
#only two outcomes so this is a binary classification

No     1233
Yes     237
Name: Attrition, dtype: int64

In [61]:
#convert Yes values to 1 and No values to 0
df = df[(df["Attrition"] == "Yes") | (df["Attrition"] == "No")]
mapping_dictionary = {"Attrition": { "Yes": 1, "No": 0 } }
df = df.replace(mapping_dictionary)
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,Sales,1,2,Life Sciences,2,Female,94,...,3,1,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,Research & Development,8,1,Life Sciences,3,Male,61,...,4,4,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,Research & Development,2,2,Other,4,Male,92,...,3,2,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,Research & Development,3,4,Life Sciences,4,Female,56,...,3,3,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,Research & Development,2,1,Medical,1,Male,40,...,3,4,1,6,3,3,2,2,2,2

In [62]:
#save work into a CSV file
df.to_csv("Resources/nn_filtered_data.csv",index=False)

In [63]:
#load in the CSV file
filtered_df = pd.read_csv("Resources/nn_filtered_data.csv")
print(filtered_df.shape)
filtered_df.head()

(1470, 28)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,Sales,1,2,Life Sciences,2,Female,94,...,3,1,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,Research & Development,8,1,Life Sciences,3,Male,61,...,4,4,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,Research & Development,2,2,Other,4,Male,92,...,3,2,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,Research & Development,3,4,Life Sciences,4,Female,56,...,3,3,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,Research & Development,2,1,Medical,1,Male,40,...,3,4,1,6,3,3,2,2,2,2

In [64]:
print("Data types and their frequency\n{}".format(filtered_df.dtypes.value_counts()))
#we have 7 object columns that contain text which need to be converted to numeric

Data types and their frequency
int64     21
object     7
dtype: int64

In [65]:
#what kind of text are in these 7 columns?
object_columns_df = filtered_df.select_dtypes(include=["object"])
print(object_columns_df.iloc[0])

BusinessTravel      Travel_Rarely
Department                  Sales
EducationField      Life Sciences
Gender                     Female
JobRole           Sales Executive
MaritalStatus              Single
OverTime                      Yes
Name: 0, dtype: object

In [66]:
#explore the unique values in these 7 columns
cols = ['BusinessTravel', 'Department','EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime']
for name in cols:
    print(name,':')
    print(object_columns_df[name].value_counts(),'\n')
    
#Ordinal Values = BusinessTravel (it can be ordered or ranked)
#Nominal Values = Department, EducationField, Gender, JobRole, MaritalStatus, OT

BusinessTravel :
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

Department :
Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

EducationField :
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: EducationField, dtype: int64

Gender :
Male      882
Female    588
Name: Gender, dtype: int64

JobRole :
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64

MaritalStatus :
Married     673
Single      470
Divorced    327
Name: MaritalStatus, dtype: int64

OverTime :
No     1054
Yes     416
Name: OverTime, dtype: int64

In [67]:
#convert ordinal value (businesstravel) to numeric (or alternatively could use getdummies as one cell below)
mapping_dictionary_2 = {
    "BusinessTravel": {
        "Non-Travel": 1,
        "Travel_Rarely": 2,
        "Travel_Frequently": 3
    }
}

filtered_df = filtered_df.replace(mapping_dictionary_2)
filtered_df[["BusinessTravel"]].head()

   BusinessTravel
0               2
1               3
2               2
3               3
4               2

In [68]:
# encode the nominal columns as dummy variables
nominal_columns = ["Department", "EducationField", "Gender", "JobRole", "MaritalStatus", "OverTime"]
dummy_df = pd.get_dummies(filtered_df[nominal_columns])
filtered_df = pd.concat([filtered_df, dummy_df], axis=1)
filtered_df = filtered_df.drop(nominal_columns, axis=1)
filtered_df.head()

,Age,Attrition,BusinessTravel,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,41,1,2,1,2,2,94,3,2,4,...,0,0,0,1,0,0,0,1,0,1
1,49,0,3,8,1,3,61,2,2,2,...,0,0,1,0,0,0,1,0,1,0
2,37,1,2,2,2,4,92,2,1,3,...,0,0,0,0,0,0,0,1,0,1
3,33,0,3,3,4,4,56,3,1,3,...,0,0,1,0,0,0,1,0,0,1
4,27,0,2,2,1,1,40,3,1,2,...,0,0,0,0,0,0,1,0,1,0

In [69]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 47 columns):
Age                                  1470 non-null int64
Attrition                            1470 non-null int64
BusinessTravel                       1470 non-null int64
DistanceFromHome                     1470 non-null int64
Education                            1470 non-null int64
EnvironmentSatisfaction              1470 non-null int64
HourlyRate                           1470 non-null int64
JobInvolvement                       1470 non-null int64
JobLevel                             1470 non-null int64
JobSatisfaction                      1470 non-null int64
NumCompaniesWorked                   1470 non-null int64
PercentSalaryHike                    1470 non-null int64
PerformanceRating                    1470 non-null int64
RelationshipSatisfaction             1470 non-null int64
StockOptionLevel                     1470 non-null int64
TotalWorkingYears                    1470 non-null int64
TrainingTimesLastYear                1470 non-null int64
WorkLifeBalance                      1470 non-null int64
YearsAtCompany                       1470 non-null int64
YearsInCurrentRole                   1470 non-null int64
YearsSinceLastPromotion              1470 non-null int64
YearsWithCurrManager                 1470 non-null int64
Department_Human Resources           1470 non-null uint8
Department_Research & Development    1470 non-null uint8
Department_Sales                     1470 non-null uint8
EducationField_Human Resources       1470 non-null uint8
EducationField_Life Sciences         1470 non-null uint8
EducationField_Marketing             1470 non-null uint8
EducationField_Medical               1470 non-null uint8
EducationField_Other                 1470 non-null uint8
EducationField_Technical Degree      1470 non-null uint8
Gender_Female                        1470 non-null uint8
Gender_Male                          1470 non-null uint8
JobRole_Healthcare Representative    1470 non-null uint8
JobRole_Human Resources              1470 non-null uint8
JobRole_Laboratory Technician        1470 non-null uint8
JobRole_Manager                      1470 non-null uint8
JobRole_Manufacturing Director       1470 non-null uint8
JobRole_Research Director            1470 non-null uint8
JobRole_Research Scientist           1470 non-null uint8
JobRole_Sales Executive              1470 non-null uint8
JobRole_Sales Representative         1470 non-null uint8
MaritalStatus_Divorced               1470 non-null uint8
MaritalStatus_Married                1470 non-null uint8
MaritalStatus_Single                 1470 non-null uint8
OverTime_No                          1470 non-null uint8
OverTime_Yes                         1470 non-null uint8
dtypes: int64(22), uint8(25)
memory usage: 288.6 KB

In [70]:
filtered_df.to_csv("Resources/nn_cleaned_data.csv", index=False)

In [71]:
# Resource:  https://www.dataquest.io/blog/machine-learning-preparing-data/

In [72]:
data = pd.read_csv("Resources/nn_cleaned_data.csv")
data.head()

,Age,Attrition,BusinessTravel,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,41,1,2,1,2,2,94,3,2,4,...,0,0,0,1,0,0,0,1,0,1
1,49,0,3,8,1,3,61,2,2,2,...,0,0,1,0,0,0,1,0,1,0
2,37,1,2,2,2,4,92,2,1,3,...,0,0,0,0,0,0,0,1,0,1
3,33,0,3,3,4,4,56,3,1,3,...,0,0,1,0,0,0,1,0,0,1
4,27,0,2,2,1,1,40,3,1,2,...,0,0,0,0,0,0,1,0,1,0

In [73]:
# At least one dummy column should be removed from each column in order to avoid overfitting the model
data = data.drop([
    "OverTime_No", 
    "MaritalStatus_Divorced", 
    "JobRole_Healthcare Representative", 
    "Gender_Male", 
    "EducationField_Human Resources", 
    "Department_Human Resources"], axis=1)

In [74]:
# assign the X and y variable in the shape that the model expects to receive it
X = data.drop("Attrition", axis=1)
y = data["Attrition"]
print(X.shape, y.shape)

(1470, 40) (1470,)

In [75]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [78]:
from keras.models import Sequential
from keras.layers import Dense

# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=40))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='softmax'))

In [79]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

Epoch 1/60
 - 0s - loss: 0.4399 - acc: 0.8276
Epoch 2/60
 - 0s - loss: 0.3402 - acc: 0.8621
Epoch 3/60
 - 0s - loss: 0.3058 - acc: 0.8802
Epoch 4/60
 - 0s - loss: 0.2771 - acc: 0.8956
Epoch 5/60
 - 0s - loss: 0.2521 - acc: 0.9047
Epoch 6/60
 - 0s - loss: 0.2342 - acc: 0.9074
Epoch 7/60
 - 0s - loss: 0.2127 - acc: 0.9201
Epoch 8/60
 - 0s - loss: 0.1929 - acc: 0.9247
Epoch 9/60
 - 0s - loss: 0.1744 - acc: 0.9365
Epoch 10/60
 - 0s - loss: 0.1576 - acc: 0.9446
Epoch 11/60
 - 0s - loss: 0.1441 - acc: 0.9474
Epoch 12/60
 - 0s - loss: 0.1303 - acc: 0.9555
Epoch 13/60
 - 0s - loss: 0.1103 - acc: 0.9628
Epoch 14/60
 - 0s - loss: 0.1010 - acc: 0.9719
Epoch 15/60
 - 0s - loss: 0.0857 - acc: 0.9791
Epoch 16/60
 - 0s - loss: 0.0861 - acc: 0.9791
Epoch 17/60
 - 0s - loss: 0.0652 - acc: 0.9855
Epoch 18/60
 - 0s - loss: 0.0541 - acc: 0.9918
Epoch 19/60
 - 0s - loss: 0.0456 - acc: 0.9955
Epoch 20/60
 - 0s - loss: 0.0391 - acc: 0.9964
Epoch 21/60
 - 0s - loss: 0.0332 - acc: 0.9982
Epoch 22/60
 - 0s - loss: 0.0281 - acc: 0.9982
Epoch 23/60
 - 0s - loss: 0.0249 - acc: 1.0000
Epoch 24/60
 - 0s - loss: 0.0207 - acc: 1.0000
Epoch 25/60
 - 0s - loss: 0.0176 - acc: 1.0000
Epoch 26/60
 - 0s - loss: 0.0148 - acc: 1.0000
Epoch 27/60
 - 0s - loss: 0.0130 - acc: 1.0000
Epoch 28/60
 - 0s - loss: 0.0113 - acc: 1.0000
Epoch 29/60
 - 0s - loss: 0.0098 - acc: 1.0000
Epoch 30/60
 - 0s - loss: 0.0086 - acc: 1.0000
Epoch 31/60
 - 0s - loss: 0.0079 - acc: 1.0000
Epoch 32/60
 - 0s - loss: 0.0069 - acc: 1.0000
Epoch 33/60
 - 0s - loss: 0.0062 - acc: 1.0000
Epoch 34/60
 - 0s - loss: 0.0055 - acc: 1.0000
Epoch 35/60
 - 0s - loss: 0.0052 - acc: 1.0000
Epoch 36/60
 - 0s - loss: 0.0047 - acc: 1.0000
Epoch 37/60
 - 0s - loss: 0.0043 - acc: 1.0000
Epoch 38/60
 - 0s - loss: 0.0040 - acc: 1.0000
Epoch 39/60
 - 0s - loss: 0.0036 - acc: 1.0000
Epoch 40/60
 - 0s - loss: 0.0033 - acc: 1.0000
Epoch 41/60
 - 0s - loss: 0.0031 - acc: 1.0000
Epoch 42/60
 - 0s - loss: 0.0028 - acc: 1.0000
Epoch 43/60
 - 0s - loss: 0.0027 - acc: 1.0000
Epoch 44/60
 - 0s - loss: 0.0025 - acc: 1.0000
Epoch 45/60
 - 0s - loss: 0.0024 - acc: 1.0000
Epoch 46/60
 - 0s - loss: 0.0022 - acc: 1.0000
Epoch 47/60
 - 0s - loss: 0.0021 - acc: 1.0000
Epoch 48/60
 - 0s - loss: 0.0019 - acc: 1.0000
Epoch 49/60
 - 0s - loss: 0.0018 - acc: 1.0000
Epoch 50/60
 - 0s - loss: 0.0017 - acc: 1.0000
Epoch 51/60
 - 0s - loss: 0.0016 - acc: 1.0000
Epoch 52/60
 - 0s - loss: 0.0015 - acc: 1.0000
Epoch 53/60
 - 0s - loss: 0.0014 - acc: 1.0000
Epoch 54/60
 - 0s - loss: 0.0014 - acc: 1.0000
Epoch 55/60
 - 0s - loss: 0.0013 - acc: 1.0000
Epoch 56/60
 - 0s - loss: 0.0012 - acc: 1.0000
Epoch 57/60
 - 0s - loss: 0.0011 - acc: 1.0000
Epoch 58/60
 - 0s - loss: 0.0011 - acc: 1.0000
Epoch 59/60
 - 0s - loss: 0.0010 - acc: 1.0000
Epoch 60/60
 - 0s - loss: 9.9473e-04 - acc: 1.0000

In [80]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

# Note: Loss value implies how well or poorly a certain model behaves after each iteration of optimization. 
# Accuracy is the measure of how often the model will accurately predict attrition

Normal Neural Network - Loss: 0.7258998920088229, Accuracy: 0.8478260869565217

In [81]:
encoded_predictions = model.predict_classes(X_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

C:\Users\admin\Anaconda3\envs\PythonData\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [82]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

#where attrition is:  Yes = 1 , No = 0

Predicted classes: [0 0 0 1 0]
Actual Labels: [0, 0, 0, 0, 0]